{% extends "base.html.twig" %}

{% block title %}
    - Home
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="h-screen flex flex-col items-center justify-center container">
        <h1 class="text-gray-500 text-4xl mb-4">Welcome to SpaceFlight News</h1>
        <p class="text-lg font-medium text-center">
            Getting an overview of the latest news from various sources!
        </p>
        <p class="text-lg font-medium text-center">
            Lots of reports from space stations and other missions often publish their data.
        </p>
        <p class="text-lg font-medium text-center">
            With Blogs often provide a more detailed overview of launches and missions.
        </p>
    </div>
{% endblock %}