{% extends "base.html.twig" %}

{% block title %}
    SpaceFlight News
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Home Page of SpaceFlight News</h1>
    <h2>Welcome</h2>
{% endblock %}