{% extends "base.html.twig" %}

{% block title %}
    SpaceFlight News
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="h-screen flex flex-col items-center justify-center container">
        <h1 class="text-gray-500 text-4xl mb-4">Home Page of SpaceFlight News</h1>
    </div>
{% endblock %}